body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20;
    padding:0;
    box-sizing:border-box;
}
#principal{
    width: 1024px;
    margin: auto;
}
.header-top{
    height: 50px;
    background-color: #162028;
    position: relative;
}
.logotipo{
    margin:5px 0 0 135px;
}
.header-nav{
    position: absolute;
    top:0;
    right:0;
    margin-top:-20px;
}
.header-nav li{
    list-style: none;
    display: inline-block;
    padding: 7px;
    margin:5px;
    letter-spacing: 5px;
    color: #162028;
}
.header-nav a{
    text-decoration: none;
    color: #3b4a58;
    font-size: larger;
    transition: color .3s ease-in;
}
.header-nav a:hover{
    text-decoration: underline;
    color: white;
    font-size: larger;
}
.portfolio{
    padding: 50px 100px;
}
.portfolio p{
    text-align: justify;
    text-align: center;
    line-height: 32px;
}
.portfolio h1{
    text-align: center;
}
.gallery{
    width: 80%;
    display:flex;
    gap: 15px;
    margin:auto;
}
.gallery-card{
    text-align: center;
}
.gallery-title{
    letter-spacing: 3px;
    font-size:larger;
}
.gallery-text{
    letter-spacing: 1px;
    font-size: medium;
}
.about{
    background-image: url(../imagens/bg_detalhe.png);
    padding:50px ;
    height: 300px;
    color: aliceblue;
    background-size: cover;
    text-align: justify;
}
.about h2{
    font-size: 29pt;
}
.about p{
    font-size: 12pt;
}
#contact{
    text-align: center;
    font-size: 29pt;
    color: aqua;
}
.maps{

}
.rodape{
    text-align:center;
    padding:20px;
    background-color: #162028;
    color:white;
}