@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(204, 204, 204);
}
.interface{
    background-image: url(../_imagens/_1/bg-3.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
    border-top: 1px solid transparent;
}
.interface-content{
    margin-top:150px;
    text-align: center;
    color:bisque;
}
.interface-content p{
    border-width:1px ;
    border-color: whitesmoke;
    border-style: solid;
    background-color: rgba(25, 25, 25, 0.5);
    display: inline-block;
    padding: 10px;
    margin-top:10px ;
}
.interface-content h1{
    text-transform: uppercase;
    font-size: 38px;
    text-shadow: 2px 2px 3px rgb(51, 51, 51);
}
main{
    width: 80%;
    margin: auto;
}
.content-section{
    background-color: azure;
    padding: 15px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
}
.content-section-0{
    background-color: azure;
    padding: 15px;
    margin: 10px;
}
.content-section-0 h2{
    background-color: rgba(25, 25, 25, 0.3);
    
}
footer{
    background-color: rgba(25, 25, 25, 0.3);
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.interface nav li{
    display: inline-block;
    list-style-type:none;
    padding:10px;
    background-color: rgba(25, 25, 25, 0.5);
    border-color:rgba(25, 25, 25, 0.8) ;
    border-width: 1px;
    border-style: solid;
}
.interface nav li:hover{
    background-color: rgba(25, 25, 25, 0.8);
}
.interface nav a{
    text-decoration: none;
    color: whitesmoke;
}
.interface nav a:hover{
    text-decoration: underline;
}
.interface nav ul{
    text-align: right;
    margin-right: 15px;
    margin-top: 10px;
}
.card img{
    display: block;
}
.card p{
     background-color: rgba(25, 25, 25, 0.5);
     color: antiquewhite;
     padding: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    }
    